# DSAI 1303 - Data Science Programming Languages 
## Assignment # 3

Please note the following regarding homework submissions:

* No email submissions will be accepted under any circumstances.
* The hw is to be solved individually. Any similaraty in hws will lead to 0 for all students involved.
* Once you write all codes in their corresponding cells, go to File -> download as -> notebook (.ipynb). Then submit the downloaded notebook.
* Once you write all codes in their corresponding cells, go to File -> download as -> notebook (.ipynb). Then submit the downloaded notebook.
* If you make a mistake, you can resubmit. The Google Classroom will consider the last submission.
* Once you submit, download your submitted file and check that the cells contain code and they are not empty. If you submit empty cells, you will get 0.
## Instructions:
- Solve Questions in the respective cells below. __Make sure you fill in any place that says `YOUR CODE HERE`.__        

### Note:
- You should write comments to help other programmers understand your code.
- Do not use magic numbers and define the constants value as a constant variable.
- Name your variables based on Variable Naming Conventions rules.

In [ ]:
import pandas as pd
data = pd.read_csv(r"C:\Users\pc\Downloads\data.csv",",")
data

C:\Users\pc\.ipython\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,pickup_year,pickup_month,pickup_day,pickup_dayofweek,pickup_time,pickup_location_code,dropoff_location_code,trip_distance,trip_length,fare_amount,fees_amount,tolls_amount,tip_amount,total_amount,payment_type
0,2016,1,1,5,0,2,4,21.00,2037,52.0,0.8,5.54,11.65,69.99,1
1,2016,1,1,5,0,2,1,16.29,1520,45.0,1.3,0.00,8.00,54.30,1
2,2016,1,1,5,0,2,6,12.70,1462,36.5,1.3,0.00,0.00,37.80,2
3,2016,1,1,5,0,2,6,8.70,1210,26.0,1.3,0.00,5.46,32.76,1
4,2016,1,1,5,0,2,6,5.56,759,17.5,1.3,0.00,0.00,18.80,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89555,2016,6,30,4,5,3,4,9.50,1989,31.0,1.3,5.54,3.00,40.84,1
89556,2016,6,30,4,5,2,4,19.80,2368,52.0,0.8,5.54,0.00,58.34,1
89557,2016,6,30,4,5,2,4,17.48,2822,52.0,0.8,5.54,5.00,63.34,1
89558,2016,6,30,4,5,2,6,12.76,1083,34.5,1.3,0.00,8.95,44.75,1
89559,2016,6,30,4,5,2,0,17.54,1711,48.0,1.3,5.54,0.00,54.84,2

In [ ]:
# Find number of rows and columns 
# It should be (89560, 15)
import numpy as np
#YOUR CODE HERE
s= np.shape(data)
s

(89560, 15)

In [ ]:
# Calculate the maximum total amount
# It should be 834.84

#YOUR CODE HERE
m = data.total_amount.max()
m

834.84

In [ ]:
# Find number of payment types
# It should be 4
g = (data.payment_type)
y= g.unique()
y.size

4

In [ ]:
# Calculate the mean speed of all rides
# The speed equals to trip_distance divided by trip_length (Should be converted from seconds to hours by dividing by 3600)
# The result should be 32.243

#YOUR CODE HERE
speed = (data.trip_distance / data.trip_length)* 3600
round(speed.mean() , 3)

32.243

In [ ]:
# Find number of rides taken in February (month number 2)
# It should be 13333

#YOUR CODE HERE
np.sum(data.pickup_month== 2)

13333

In [ ]:
# Find number of rides with a tip greater than 50$
# It should be 16

#YOUR CODE HERE
tip = data.tip_amount >50
(tip).sum()

16

In [ ]:
# Find number of rides where drop was location code of 2
# It should be 11832

#YOUR CODE HERE
num = data.dropoff_location_code ==2
(num).sum()

11832

In [ ]:
# List all pickup location codes (without redandancy)
# It should be 0., 1., 2., 3., 4., 6.

#YOUR CODE HERE
location = data.pickup_location_code
x = location.unique()
v=np.sort(x)
v.astype(float)

array([0., 1., 2., 3., 4., 6.])

In [ ]:
# Find the 7th smallest amount of fees
# It should be 0.5

#YOUR CODE HERE
fees = data.fees_amount
x = fees.unique()
v= np.sort(x)
v[6]

0.5

In [ ]:
# Calculate the mean for two intervals of total amount: [0, 100) and [150, 350)
# The results should be 48.851 and 175.006

#YOUR CODE HERE
d = (data.total_amount >= 0) & (data.total_amount < 100)
g = (data.total_amount >= 150) & (data.total_amount < 350)
print('The mean of inteval [0, 100) : ' ,round(data.total_amount[d].mean() , 3) )
print('The mean of inteval [150, 350) : ' ,round(data.total_amount[g].mean() , 3))

The mean of inteval [0, 100) :  48.851
The mean of inteval [150, 350) :  175.006

In [ ]:
# Write fast numpy function with Numba for calauating number of trips that used paymnet types 1 and 3 and find the sum of total amounts

#YOUR CODE HERE


# Call the function for providing results from the dataset
# The results should be 64916 and 3355279.84 

#YOUR CODE HERE
#results = data.payment_type==1&3
import numba as nb
import numpy as np
@nb.jit
def sum_fun(data_set) :
    x = np.sum(data_set.payment_type==1)
    y= np.sum(data_set.payment_type==3)
    d = data_set.total_amount[data_set.payment_type==1].sum()
    s = data_set.total_amount[data_set.payment_type==3].sum()
    print('Number of trips: ' , x+y) ,
    print('Sum of total amounts: ' , round(d+s , 2))
j= sum_fun(data)
j

Number of trips:  64916
Sum of total amounts:  3355279.84

C:\Users\pc\AppData\Local\Temp/ipykernel_2020/3547270235.py:13: NumbaWarning:
Compilation is falling back to object mode WITH looplifting enabled because Function "sum_fun" failed type inference due to: non-precise type pyobject
During: typing of argument at C:\Users\pc\AppData\Local\Temp/ipykernel_2020/3547270235.py (15)

File "AppData\Local\Temp\ipykernel_2020\3547270235.py", line 15:
<source missing, REPL/exec in use?>

  @nb.jit
C:\Users\pc\.ipython\lib\site-packages\numba\core\object_mode_passes.py:151: NumbaWarning: Function "sum_fun" was compiled in object mode without forceobj=True.

File "AppData\Local\Temp\ipykernel_2020\3547270235.py", line 13:
<source missing, REPL/exec in use?>

  warnings.warn(errors.NumbaWarning(warn_msg,
C:\Users\pc\.ipython\lib\site-packages\numba\core\object_mode_passes.py:161: NumbaDeprecationWarning:
Fall-back from the nopython compilation path to the object mode compilation path has been detected, this is deprecated behaviour.

For more information visit https://numba.pydata.org/numba-doc/latest/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit

File "AppData\Local\Temp\ipykernel_2020\3547270235.py", line 13:
<source missing, REPL/exec in use?>

  warnings.warn(errors.NumbaDeprecationWarning(msg,